{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://elefanteblanco.mutualser.com/middleware/"},{"url":"http://localhost:8080/"}],"paths":{"/upstream/{operation}":{"post":{"tags":["api-up-stream-controller"],"summary":"Ejecutar carga","description":"Utiliza la operación y el body para realizar el put a mipres","operationId":"execute","parameters":[{"name":"operation","in":"path","description":"Tipo de registros a cargar","required":true,"schema":{"type":"string","description":"Tipo de registros a cargar","example":"noDirecting","enum":["billingData","directing","noDirecting","provision"]},"example":"noDirecting"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpStreamRequestResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpStreamResponseResource"}}}}}}},"/upstream/{operation}/xmany":{"post":{"tags":["api-up-stream-controller"],"summary":"Ejecutar carga","description":"Utiliza la operación y el body para realizar el put a mipres","operationId":"execute_1","parameters":[{"name":"operation","in":"path","description":"Tipo de objetos a cargar","required":true,"schema":{"type":"string","description":"Tipo de objetos a cargar","example":"noDirecting","enum":["billingData","directing","noDirecting","provision"]},"example":"noDirecting"}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UpStreamRequestResource"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UpStreamResponseResource"}}}}}}}},"/upstream/{operation}/annulment":{"post":{"tags":["api-up-stream-controller"],"summary":"Ejecutar anulación","description":"Ejecuta una tarea de aluación sobre mipres para un listado de items","operationId":"annulment","parameters":[{"name":"operation","in":"path","description":"Tipo de registros a anular","required":true,"schema":{"type":"string","description":"Tipo de registros a anular","example":"directing","enum":["billingData","directing","provision"]},"example":"directing"}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AnnulmentRequestResource"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UpStreamResponseResource"}}}}}}}},"/upstream/{operation}/annulment/{regimen}/{id}":{"post":{"tags":["api-up-stream-controller"],"summary":"Ejecutar anulación","description":"Ejecuta una operación de anulación sobre mipres para un registro especifico","operationId":"annulment_1","parameters":[{"name":"operation","in":"path","description":"Tipo de registro a anular","required":true,"schema":{"type":"string","description":"Tipo de registro a anular","example":"directing","enum":["billingData","directing","provision"]},"example":"directing"},{"name":"regimen","in":"path","description":"Regimen asociado al registro a anular","required":true,"schema":{"type":"string","description":"Regimen asociado al registro a anular"}},{"name":"id","in":"path","description":"Id del registro a anular","required":true,"schema":{"type":"string","description":"Id del registro a anular"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UpStreamResponseResource"}}}}}}}},"/downstream/{operation}":{"post":{"tags":["api-down-stream-controller"],"summary":"Ejecutar descarga","description":"Utiliza la operación, fechas y los regimenes suministrados para consultar la informacion en mipres y almacenarla de manera local","operationId":"execute_2","parameters":[{"name":"operation","in":"path","description":"Objetos a descargar","required":true,"schema":{"type":"string","description":"Objetos a descargar","example":"tutelage","enum":["billingReport","deliveryReport","directing","prescription","professionalBoard","provision","tutelage"]},"example":"tutelage"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProxyRequestResource"}}},"required":true},"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"202":{"description":"Accepted","content":{"application/json":{}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/downstream/{operation}/{initialDate}/{finalDate}":{"post":{"tags":["api-down-stream-controller"],"summary":"Ejecutar descarga","description":"Utiliza la operación, el rango de fechas y los regimenes suministrados para consultar la informacion en mipres y almacenarla de manera local","operationId":"executeDateRange","parameters":[{"name":"operation","in":"path","description":"Objetos a descargar","required":true,"schema":{"type":"string","example":"tutelage","enum":["billingReport","deliveryReport","directing","prescription","professionalBoard","provision","tutelage"]}},{"name":"finalDate","in":"path","description":"Fecha final en formato YYYY-MM-DD","required":true,"schema":{"type":"string","description":"Fecha final en formato YYYY-MM-DD","format":"date","example":"2022-03-27"},"example":"2022-03-27"},{"name":"initialDate","in":"path","description":"Fecha inicial en formato YYYY-MM-DD","required":true,"schema":{"type":"string","description":"Fecha inicial en formato YYYY-MM-DD","format":"date","example":"2022-03-27"},"example":"2022-03-27"}],"requestBody":{"content":{"application/json":{"schema":{"minItems":1,"uniqueItems":true,"type":"array","items":{"pattern":"[S|C]","type":"string","description":"Listado de regimenes","example":"S","enum":["S","C"]}}}},"required":true},"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"202":{"description":"Accepted","content":{"application/json":{}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/downstream/{operation}/xprescripcion":{"post":{"tags":["api-down-stream-controller"],"summary":"Ejecutar descarga x prescripcion","description":"Utiliza la operación y el listado de prescripciones suministrados para consultar la informacion en mipres y almacenarla de manera local","operationId":"executeByPrescription","parameters":[{"name":"operation","in":"path","description":"Objetos a descargar","required":true,"schema":{"type":"string","description":"Objetos a descargar","example":"tutelage","enum":["billingReport","deliveryReport","directing","prescription","professionalBoard","provision","tutelage"]},"example":"tutelage"}],"requestBody":{"content":{"application/json":{"schema":{"minItems":1,"uniqueItems":true,"type":"array","items":{"pattern":"[0-9]{20}","type":"string","description":"Listado de regimenes","example":"20220805150033813678"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/downstream/{operation}/single":{"post":{"tags":["api-down-stream-controller"],"summary":"Ejecutar descarga","description":"Utiliza la operación, fechas y los regimenes suministrados para consultar la informacion en mipres y almacenarla de manera local","operationId":"executeSingle","parameters":[{"name":"operation","in":"path","description":"Objetos a descargar","required":true,"schema":{"type":"string","description":"Objetos a descargar","example":"tutelage","enum":["billingReport","deliveryReport","prescription","professionalBoard","provision","tutelage"]},"example":"tutelage"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProxySingleRequestResource"}}},"required":true},"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"202":{"description":"Accepted","content":{"application/json":{}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/downstream/{operation}/regimen/{regimen}/default":{"post":{"tags":["api-down-stream-controller"],"summary":"Ejecutar descarga","description":"Utiliza la operación suministrada, la fecha actual y ambos regimenes para consultar la informacion en mipres y almacenarla de manera local","operationId":"executeCurrentDateAndRegimen","parameters":[{"name":"operation","in":"path","description":"Objetos a descargar","required":true,"schema":{"type":"string","description":"Objetos a descargar","example":"tutelage","enum":["billingReport","deliveryReport","directing","prescription","professionalBoard","provision","tutelage"]},"example":"tutelage"},{"name":"regimen","in":"path","description":"Regimen de descarga","required":true,"schema":{"type":"string","description":"Regimen de descarga","example":"C","enum":["S","C"]},"example":"C"}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"202":{"description":"Accepted","content":{"application/json":{}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/downstream/{operation}/default":{"post":{"tags":["api-down-stream-controller"],"summary":"Ejecutar descarga","description":"Utiliza la operación suministrada, la fecha actual y ambos regimenes para consultar la informacion en mipres y almacenarla de manera local","operationId":"executeCurrentDate","parameters":[{"name":"operation","in":"path","description":"Objetos a descargar","required":true,"schema":{"type":"string","description":"Objetos a descargar","example":"tutelage","enum":["billingReport","deliveryReport","directing","prescription","professionalBoard","provision","tutelage"]},"example":"tutelage"}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"202":{"description":"Accepted","content":{"application/json":{}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/downstream/lastday":{"post":{"tags":["api-down-stream-controller"],"summary":"Ejecutar descarga ","description":"Utiliza la fecha actual menos un dia y ambos regimenes para consultar la informacion en mipres y almacenarla de manera local","operationId":"executeYesterdayDate","responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"202":{"description":"Accepted","content":{"application/json":{}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/credentials/refresh":{"post":{"tags":["credentials-controller"],"summary":"Refrescar tokens","description":"Utiliza los tokens primarios para consumir el servicio de mipres y generar nuevos tokens secundarios","operationId":"refresh","responses":{"200":{"description":"OK"}}}},"/admin/responses/resend/{operacion}/{fecha}/{codigo}":{"post":{"tags":["admin-controller"],"summary":"Reenviar eventos","description":"Utiliza los valor suministrado para realizar una consulta por coincidencia y reenviar los eventos al core para su procesamiento","operationId":"relaunch","parameters":[{"name":"codigo","in":"path","description":"Identificador del objeto, se puede usar el numero de prescripcion, el id de la transaccion o el id del objeto especifico {idSuministro}-{idTxSuministro}-{numeroPrescripcion}","required":true,"schema":{"type":"string","description":"Identificador del objeto, se puede usar el numero de prescripcion, el id de la transaccion o el id del objeto especifico {idSuministro}-{idTxSuministro}-{numeroPrescripcion}","example":"75207598-57633274-20220805150033813678"},"example":"75207598-57633274-20220805150033813678"},{"name":"fecha","in":"path","description":"Fecha final en formato YYYY-MM-DD","required":true,"schema":{"type":"string","description":"Fecha final en formato YYYY-MM-DD","format":"date","example":"2022-03-27"},"example":"2022-03-27"},{"name":"operacion","in":"path","description":"Objetos a descargar","required":true,"schema":{"type":"string","description":"Objetos a descargar","example":"tutelage","enum":["billingReport","deliveryReport","directing","prescription","professionalBoard","provision","tutelage"]},"example":"tutelage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","properties":{"parallel":{"type":"boolean"}}}}}}}}},"/admin/responses/resend/":{"post":{"tags":["admin-controller"],"summary":"Reenviar eventos","description":"Utiliza los codigos de los eventos reenviar los eventos al core para su procesamiento","operationId":"resendByCode","requestBody":{"content":{"application/json":{"schema":{"type":"string","description":"Identificador exacto del objeto","example":"75207598-57633274-20220805150033813678"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","properties":{"parallel":{"type":"boolean"}}}}}}}}},"/admin/responses/download":{"post":{"tags":["admin-controller"],"summary":"Descargar data","description":"Descarga la base de datos del datastore este servicio consume una alta cantidad de memoria y procesamiento, no se recomienda su uso salvo en local","operationId":"reponseCsv","responses":{"200":{"description":"OK"}}}},"/admin/requests/resend/{operacion}/{fecha}":{"post":{"tags":["admin-controller"],"summary":"Reenviar respuestas al core","description":"Realiza una consulta de las peticiones realizadas a mipres por fecha y reenvía las respesutas al core para su procesamiento","operationId":"reenviarRequestxFecha","parameters":[{"name":"operacion","in":"path","description":"Objetos a descargar","required":true,"schema":{"type":"string","description":"Objetos a descargar","example":"directing","enum":["directing","provision","noDirecting"]},"example":"directing"},{"name":"fecha","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/admin/requests/resend/{operacion}/{fecha}/{codigo}":{"post":{"tags":["admin-controller"],"summary":"Reenviar respuestas al core","description":"Realiza una consulta de las peticiones realizadas a mipres por fecha y reenvía las respesutas al core para su procesamiento","operationId":"reenviarRequestxFechaxCodigo","parameters":[{"name":"operacion","in":"path","description":"Objetos a descargar","required":true,"schema":{"type":"string","description":"Objetos a descargar","example":"directing","enum":["directing","provision","noDirecting"]},"example":"directing"},{"name":"fecha","in":"path","required":true,"schema":{"type":"string"}},{"name":"codigo","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/admin/responses/{operacion}/{fecha}/{codigo}":{"get":{"tags":["admin-controller"],"summary":"Consultar por operacion, fecha, y codigo","description":"Utiliza los valor suministrado para realizar una consulta por coincidencia","operationId":"findBy","parameters":[{"name":"codigo","in":"path","description":"Parte del identificador del objeto, se puede usar el numero de prescripcion, el id de la transaccion o el id del objeto especifico {idSuministro}-{idTxSuministro}-{numeroPrescripcion}","required":true,"schema":{"type":"string","description":"Parte del identificador del objeto, se puede usar el numero de prescripcion, el id de la transaccion o el id del objeto especifico {idSuministro}-{idTxSuministro}-{numeroPrescripcion}","example":202208},"example":202208},{"name":"fecha","in":"path","description":"Fecha final en formato YYYY-MM-DD","required":true,"schema":{"type":"string","description":"Fecha final en formato YYYY-MM-DD","format":"date","example":"2022-03-27"},"example":"2022-03-27"},{"name":"operacion","in":"path","description":"Objetos a descargar","required":true,"schema":{"type":"string","description":"Objetos a descargar","example":"tutelage","enum":["billingReport","deliveryReport","directing","prescription","professionalBoard","provision","tutelage"]},"example":"tutelage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","properties":{"parallel":{"type":"boolean"}}}}}}}},"delete":{"tags":["admin-controller"],"operationId":"deleteResponses","parameters":[{"name":"codigo","in":"path","required":true,"schema":{"type":"string"}},{"name":"fecha","in":"path","required":true,"schema":{"type":"string"}},{"name":"operacion","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/admin/responses/{operacion}/prescripcion/{prescripcion}":{"get":{"tags":["admin-controller"],"summary":"Consultar por operacion y numero de prescripcion","description":"Utiliza los valor suministrado para realizar una consulta por coincidencia","operationId":"findByOperacionPrescription","parameters":[{"name":"prescripcion","in":"path","description":"número de prescripción","required":true,"schema":{"type":"string","description":"número de prescripción","example":20220805150033813678},"example":20220805150033813678},{"name":"operacion","in":"path","description":"Objetos a descargar","required":true,"schema":{"type":"string","description":"Objetos a descargar","example":"tutelage","enum":["billingReport","deliveryReport","directing","prescription","professionalBoard","provision","tutelage"]},"example":"tutelage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","properties":{"parallel":{"type":"boolean"}}}}}}}}},"/admin/responses/{code}":{"get":{"tags":["admin-controller"],"summary":"Consultar por codigo","description":"Utiliza el valor suministrado para realizar una consulta por coincidencia exacta","operationId":"getResponse","parameters":[{"name":"code","in":"path","description":"Identificador del objeto","required":true,"schema":{"type":"string","description":"Identificador del objeto","example":20220805150033813678},"example":20220805150033813678}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventResponse"}}}}}},"delete":{"tags":["admin-controller"],"operationId":"deleteResponses_1","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/admin/responses/prescripcion/{prescripcion}":{"get":{"tags":["admin-controller"],"summary":"Eventos x prescripcion","description":"Consultar todos los eventos asociados a un numero de prescripcion","operationId":"findByPrescription","parameters":[{"name":"prescripcion","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","properties":{"parallel":{"type":"boolean"}}}}}}}}},"/admin/requests/{operacion}/{fecha}":{"get":{"tags":["admin-controller"],"summary":"Consultar requests por fecha","description":"Realiza una consulta de las peticiones realizadas a mipres por fecha","operationId":"consultarRequestxFecha","parameters":[{"name":"operacion","in":"path","description":"Objetos a descargar","required":true,"schema":{"type":"string","description":"Objetos a descargar","example":"directing","enum":["directing","provision","noDirecting"]},"example":"directing"},{"name":"fecha","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/admin/requests/{operacion}/{fecha}/{codigo}":{"get":{"tags":["admin-controller"],"summary":"Consultar requests por fecha y codigo","description":"Realiza una consulta de las peticiones realizadas a mipres por fecha","operationId":"consultarRequestxFechaxCodigo","parameters":[{"name":"operacion","in":"path","description":"Objetos a descargar","required":true,"schema":{"type":"string","description":"Objetos a descargar","example":"directing","enum":["directing","provision","noDirecting"]},"example":"directing"},{"name":"fecha","in":"path","required":true,"schema":{"type":"string"}},{"name":"codigo","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/admin/responses":{"delete":{"tags":["admin-controller"],"operationId":"clearResponses","responses":{"200":{"description":"OK"}}}},"/admin/request":{"delete":{"tags":["admin-controller"],"operationId":"clearRequests","responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"JsonNode":{"type":"object","description":"Body de la petición"},"UpStreamRequestResource":{"required":["data","regimen"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/JsonNode"},"regimen":{"pattern":"[S|C]","type":"string","description":"Regimen asociado a la petición","example":"S"}}},"UpStreamResponseResource":{"type":"object","properties":{"id":{"type":"string"},"data":{"$ref":"#/components/schemas/JsonNode"},"response":{"$ref":"#/components/schemas/JsonNode"},"responseType":{"type":"string"}}},"AnnulmentRequestResource":{"required":["id","regimen"],"type":"object","properties":{"id":{"type":"string","description":"Id del registro a anular"},"regimen":{"pattern":"[S|C]","type":"string","description":"Regimen asociado a la petición","example":"S"}}},"ProxyRequestResource":{"required":["criteria","regimen"],"type":"object","properties":{"criteria":{"minItems":1,"uniqueItems":true,"type":"array","items":{"pattern":"2[0-9]{3}-[0-9]{2}-[0-9]{2}","type":"string","description":"Listado de fechas en formato YYYY-MM-DD","example":"2023-03-19"}},"regimen":{"minItems":1,"uniqueItems":true,"type":"array","items":{"pattern":"[S|C]","type":"string","description":"Listado de regimenes","example":"S","enum":["S","C"]}},"xprescription":{"type":"boolean"}}},"ErrorResponse":{"type":"object","properties":{"message":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"array","items":{"type":"string"}},"errorId":{"type":"string"}}},"ProxySingleRequestResource":{"required":["fecha","regimen"],"type":"object","properties":{"fecha":{"pattern":"2[0-9]{3}-[0-9]{2}-[0-9]{2}","type":"string","description":"Fecha en formato YYYY-MM-DD","example":"2023-03-19"},"regimen":{"pattern":"[S|C]","type":"string","description":"Regimen de las prescripciones a descargar","example":"S","enum":["S","C"]}}},"EventResponse":{"type":"object","properties":{"id":{"type":"string","description":"Identificador del evento"},"code":{"type":"string","description":"Codigo del evento"},"regimen":{"type":"string","description":"Regimen con el cual se realiza la consulta"},"creationDate":{"type":"string","description":"fecha en que se realiza la consulta","format":"date-time"},"fecha":{"type":"string","description":"Fecha en mipres"},"valid":{"type":"string","description":"El objeto cumple con las validaciones de forma"},"hashValue":{"type":"string","description":"Identificador interno"},"operacion":{"type":"string","description":"Tipo de objeto"},"eventType":{"type":"string","description":"Tipo de evento para registrar en el core"},"value":{"type":"object","additionalProperties":{"type":"object","description":"Cuerpo del evento para registrar en el core"},"description":"Cuerpo del evento para registrar en el core"},"json":{"type":"object","additionalProperties":{"type":"object","description":"Respuesta del servicio de mipres"},"description":"Respuesta del servicio de mipres"},"errorDetails":{"type":"array","description":"Errores en validaciones de forma","items":{"type":"object","additionalProperties":{"type":"object","description":"Errores en validaciones de forma"},"description":"Errores en validaciones de forma"}},"headers":{"type":"object","additionalProperties":{"type":"string","description":"Metadata e información adicional"},"description":"Metadata e información adicional"}}}}}}